.header {
  background: #34b2e7;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo {
  font-size: 24px;
}

.user {
  font-size: 20px;
  color: rgb(230, 225, 216);
  outline: 2px solid #6bd3ff;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
}

.user:hover {
  background-color: #6bd3ff;
  color: #333;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

